@import "resources";
.hide {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.ham-menu {
  border-radius: 0.4rem;
  background-color: $primary-color;
  padding: 0.9rem 0.9rem 0.6rem;
}
.display-none {
  display: none;
}
.link-container {
  background: $bg-card;
  position: absolute;
  right: 4rem;
  margin-top: 2.4rem;
  border-radius: 0.4rem;
  .link-item {
    list-style: none;
    padding: 0.5rem 0;
    font-size: 2rem;
    a {
      display: block;
      width: 15rem;
      text-decoration: none;
      padding-left: 1rem;
      &:hover {
        background-color: #222;
      }
    }
  }
}
@media (min-width: 800px) {
  .hide {
    display: initial;
  }
  .ham-menu {
    display: none;
  }
  .link-container {
    position: initial;
    display: flex;
    flex-direction: row;
    background: none;
    margin-top: 0;
    border-radius: none;
    .link-item{
      padding: 0 3rem;
      &:last-child{
        padding-right: 0;
      }
      a{
        display: initial;
        padding: 0;
        width: initial;
        &:hover{
          background-color: initial;
        }
      }
    }
  }
}
