@import 'nav-menu';

@keyframes neon-blinking {
  0%, 18%, 20%, 50.1%, 60.1%, 80%, 90.1%, 92%{
    color: #282a2e;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 100%{
    color: #fff;
    text-shadow: 0px -2px 15px #fff;
  }
}

body{
  background-color: $bg-body;
  font-family: $font-primary;
}
.text-container{
  color: #282a2e;
  font: 38px 'Concert One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}
.welcome span{
  color: #fff;
  animation: neon-blinking 5s linear infinite backwards;
  text-shadow: 0px 0px 15px #fff
}
.welcome span:nth-child(even){
  animation-delay: .5s;
} 

section{
  display: grid;
  justify-items: center;
  align-content: center;
  margin-bottom: 8rem;
}