@import 'nav-menu';

@keyframes neon-blinking {
  0%,
  18%,
  20%,
  50.1%,
  60.1%,
  80%,
  90.1%,
  92% {
    color: #282a2e;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  100% {
    color: #fff;
    text-shadow: 0px -2px 15px #fff;
  }
}
:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body {
  background-color: $bg-body;
  font-family: $font-primary;
  max-width: 80rem;
  margin: 0 auto;
}
.text-container {
  color: #282a2e;
  font: 38px 'Concert One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: default;
}
.text-blinking span {
  color: #fff;
  animation: neon-blinking 5s linear infinite backwards;
  text-shadow: 0px 0px 15px #fff;
}
.text-blinking span:nth-child(even) {
  animation-delay: 0.5s;
}

main {
  display: grid;
  gap: 6.4rem;
  justify-items: center;
  align-content: center;
  margin-bottom: 8rem;
}
section {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(6.4rem - 1.2rem);
  justify-items: center;
  max-width: 48rem;
  margin: 0 4rem;
  h3 {
    font: 500 3.2rem $display-font;
    justify-self: left;
    margin-top: 1.2rem
  }
  img#typing {
    @include default-box-shadow;
    width: 28rem;
    border-radius: 0.4rem;
  }
  p#about-text {
    font-size: 2.4rem;
  }

  #paragh {
    width: 29.5rem;
  }
  #sub-title {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }
  #title {
    font-size: 2.8rem;
    margin-bottom: 1.6rem;
    letter-spacing: 0.2rem;
  }
  #sub-title:last-child {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
  #buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    .btn {
      cursor: pointer;
      font: 500 1.8rem 'Poppins';
      color: $black;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      border: none;
      background-color: $primary-color;
      border-radius: 0.4rem;
      padding: 0.6rem 1.2rem;
    }
  }
  #drew-photo {
    width: 16rem;
    border-radius: 50%;
    border: solid 0.3rem $white;
    @include default-box-shadow;
  }
}
#intro-section{
  margin: 4rem 0 0 0;
}